.component-search-page {

  margin: 0 auto;
  width: 1024px;
  text-align: center;

  .component-search-area {

  }

  .component-search-results {
    .component-search-item {
      width: 100px;
      display: inline-block;
      margin: 5px;
      vertical-align: top;
    }
  }

}